.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.root h4 {
    font-family: var(--standard-font);
}
/* @media (max-width: 800px) {
    .root h4 {
        font-family: var(--standard-font);
    }
} */